@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}
.shadow-container {
  box-shadow: rgba(149, 157, 165, 0.098) 0px 5px 15px;
}

@media screen and (min-width: 768px) {
  body{
    background-color: rgb(249 250 251)  !important;
  }
}


@media screen and (min-width: 100px) {
  body{
    background-color: white ;
  }
}
